body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;

}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.flexible-container{

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.ecperence-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 10px;
    border-radius: 10px;
}
#web-dev-experience{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}
#full-dev-experience{
    border-image: linear-gradient(rgb(255, 174, 0), tomato);
    border-image-slice: 1;
    border-left: 7px solid;
}
footer p{
    text-align: center;
}